body {
    font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: rgb(0, 45, 128);
    background-color: transparent;
    box-shadow: 0 0 0 0;
    margin-right: 3px;
  }
  
  .clearfix {
    margin: 15px;
  }
  
  .form {
    margin: auto;
  }
  
  .form input, .form select, .form textarea {
    border-radius: 5px;
    border: 1px solid rgb(0, 30, 128);
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
  }
  
  /* App styles */
  .title {
    text-align: center;
    margin: 10px;
  }
  
  .calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid rgb(0, 23, 128);
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: rgb(0, 92, 128);
  }