{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    table, td, th {  
      border: 1px solid #ddd;
      text-align: left;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 15px;
    }
    th{
      background-color:green;
    }
    tr:hover {
      background-color: yellow;
      cursor: pointer;
    }
    </style>
    </head>
<body>
    
    <table>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>City</th>
            <th>ClassName</th>
            <th>GuardianName</th>
            <th>Images</th>
            <td>
           

      
        <tr>
    {% for student in students %}
    <tr>
        <td>{{student.first_name}}</td> 
        <td>{{student.last_name }}</td>
        <td>{{student.age }}</td>
        <td>{{student.email }}</td>
        <td>{{student.phone_number}}</td>
        <td>{{student.city }}</td>
        <td>{{student.class_name}}</td>
        <td>{{student.guardian_name}}</td>
        {% if student.images %}
        <td><img src="{{ student.images.url }}" width="45"> </td>
           
            {% endif %}
    
   
    
</tr>
{%endfor%}
</table>
</body>
</html>